//main
main {
	padding-bottom: 200px;

	section {
		padding-top: 50px;
		margin-bottom: 100px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.inner {
		max-width: 1200px;
		width: auto;
		margin: 0 auto;

		> h1 {
			margin-bottom: 30px;
		}
	}

	.cross {
		position: relative;
		width: 32px;
		height: 32px;

		span {
			position: absolute;
			background-color: #222;

			&.row {
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 15px;
				height: 3px;
			}

			&.col {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 3px;
				height: 15px;
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	main {
		.inner {
			max-width: 100%;
			padding: 0 3vw;
		}
	}
}

@media screen and (max-width: $tablet) {
	main {
		padding-bottom: 50px;

		section {
			margin-bottom: 60px;
		}
		.inner {
			padding: 0 30px;
		}
	}
}

//sub
.container {
	padding: 80px 0 150px;

	.sub_visual {
		width: 100%;
		height: 300px;
		margin-bottom: 100px;
		background-color: gray;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		opacity: 0;
		transition: 1s 0.2s;
		padding-top: 90px;
		text-align: center;
		font-family: 'Manrope';
		font-size: 32px;

		+ section {
			opacity: 0;
			transform: translateY(100px);
			transition-property: opacity, transform;
			transition-duration: 1s;
			transition-delay: 0.4s;
		}
	}

	section {
		.inner {
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;
		}
	}
}

.container.on {
	.sub_visual {
		opacity: 1;

		+ section {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

@media screen and (max-width: 1300px) {
	.container {
		section {
			.inner {
				max-width: 100%;
				padding: 0 20px;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.container {
		padding-bottom: 50px;

		.sub_visual {
			margin-bottom: 50px;
		}
	}
}
