.container {
	padding: 70px 0 150px;

	section {
		.inner {
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;
		}

		&:first-of-type {
			padding-top: 100px;
		}
	}

	.sub_visual {
		width: 100%;
		height: 300px;
		background: gray;
	}
}

@media screen and (max-width: 1300px) {
	.container {
		section {
			.inner {
				max-width: 100%;
				padding: 0 20px;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.container {
		padding-bottom: 50px;

		section {
			&:first-of-type {
				padding-top: 50px;
			}
		}
	}
}
