#mobilePanel {
	width: 280px;
	height: 100%;
	background: #111;
	padding: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

	h1 {
		font: bold 40px/1 'arial';
		color: #fff;
		margin-bottom: 30px;
	}
}
