#mobilePanel {
	width: 280px;
	height: 100%;
	background: #111;
	padding: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

	h1 {
		font: bold 40px/1 'arial';
		margin-bottom: 30px;
		a {
			color: #fff;
		}
	}

	#gnb {
		li {
			margin-bottom: 10px;

			a {
				color: #fff;
			}
		}
	}
}
