@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Pathway+Extreme:wght@100&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Manrope';
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
fieldset {
	border: none;
}
table {
	border-collapse: collapse;
}
.h {
	position: absolute;
	top: -99999px;
	opacity: 0;
}
