#collabo {
	.collabo_list {
		display: flex;
		border: 1px solid #ddd;

		li {
			flex: 1;
			height: 490px;

			+ li {
				border-left: 1px solid #ddd;
			}

			&.on {
				flex: 3;

				a {
					display: none;
				}

				.box {
					display: block;

					.name {
						font-weight: bold;
					}
				}
			}

			a {
				display: block;
				padding: 20px 0;
				height: 100%;
				text-align: center;

				.name {
					display: inline-flex;
					text-align: center;
					transform: translateY(100%) rotate(-90deg);
					color: #979697;
					font-size: 18px;
				}
			}

			.box {
				display: none;

				.txt_area {
					display: flex;
					padding: 25px 20px;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid #ddd;
					font-size: 20px;
				}
				.img_area {
					overflow: hidden;
					padding: 30px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transform: translateY(100px);
						opacity: 0;
						transition: 0.65s;
					}
				}
			}
		}
	}
}

#collabo.on {
	.collabo_list {
		li {
			.box {
				.img_area {
					img {
						transform: translateY(0px);
						opacity: 1;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#collabo {
		.collabo_list {
			flex-wrap: wrap;
			li {
				flex: none;
				width: 100%;
				height: auto;

				+ li {
					border-left: 0;
					border-top: 1px solid #ddd;
				}

				a {
					padding: 25px 20px;
					text-align: left;

					.name {
						display: block;
						transform: none;
						text-align: left;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#collabo {
		.collabo_list {
			li {
				.box {
					.img_area {
						.img {
							height: 280px;
						}
					}
				}
			}
		}
	}
}
