#newProduct {
	.content {
		display: flex;
		gap: 30px;
		justify-content: space-between;
		overflow: hidden;

		h1 {
			transform: translateX(-200px);
			opacity: 0;
			transition: 0.8s 0.2s;
		}

		.product_area {
			display: flex;

			.item {
				width: 240px;

				.slide_wrap,
				.img_wrap {
					width: 100%;
					margin-bottom: 10px;
					background: #efefef;

					img {
						width: 100%;
					}
				}

				&.first {
					opacity: 0;
					transform: translateX(-240px);
					transition: 0.8s 0.1s;
				}

				&.center {
					margin-left: 20px;
					width: 410px;
					opacity: 0;
					transform: translateY(200px);
					transition: 0.8s 0.2s;

					.slide_wrap {
						width: 100%;

						.swiper-button-next,
						.swiper-button-prev {
							color: #999;
						}
					}
				}

				&.last {
					margin-left: 110px;
					opacity: 0;
					transform: translateX(240px);
					transition: 0.8s 0.3s;
				}

				a {
					display: flex;
					justify-content: space-between;
					color: #222;

					.info {
						.name {
							font-weight: 600;
						}

						.txt {
							color: #888;
						}
					}

					.price {
						font-weight: 600;
					}
				}
			}
		}
	}
}

#newProduct.on {
	h1 {
		transform: translateX(0px);
		opacity: 1;
	}

	.product_area {
		.item {
			&.first {
				transform: translateX(0px);
				opacity: 1;
			}

			&.center {
				transform: translateY(0px);
				opacity: 1;
			}

			&.last {
				transform: translateX(0px);
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	#newProduct {
		.content {
			.product_area {
				gap: 2%;

				.item {
					flex: 1;

					&.center {
						margin-left: 0;
						flex: none;
						width: 360px;
					}

					&.last {
						margin-left: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#newProduct {
		.content {
			display: block;

			.title_area {
				margin-bottom: 30px;
			}

			.product_area {
				.item {
					&.center {
						flex: 1;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#newProduct {
		.content {
			.product_area {
				flex-wrap: wrap;

				.item {
					flex: none;
					width: 100%;

					&.center {
						width: 100%;
					}

					+ .item {
						margin: 50px 0 0 0;
					}
				}
			}
		}
	}
}
