#partnership {
	.prs_wrap {
		display: flex;
		gap: 2%;
		overflow: hidden;

		.item {
			flex: 1;
			border-top: 1px solid #ddd;
			// opacity: 0;
			// transform: translateY(100px);
			// transition-delay: 0.5s;
			// transition: 1s;

			.name {
				padding: 20px 0;
				display: flex;
				justify-content: space-between;
				align-items: center;

				p {
					padding-left: 10px;
				}
			}

			.img_area {
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

// #partnership.on {
// 	.prs_wrap {
// 		.item {
// 			opacity: 1;
// 			transform: translateY(0);
// 		}
// 	}
// }

@media screen and (max-width: $tablet) {
	#partnership {
		.prs_wrap {
			flex-wrap: wrap;

			.item {
				.img_area {
					.img {
						height: 300px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#partnership {
		.prs_wrap {
			.item {
				flex: none;
				width: 100%;
			}
		}
	}
}
