#visual {
	overflow: hidden;
	padding-top: 120px;

	.title_wrap {
		overflow: hidden;
	}

	h1 {
		display: flex;
		font-size: 140px;
		font-weight: bold;
		justify-content: center;
		align-items: center;
		letter-spacing: -0.02em;
		gap: 20px;

		.title {
			flex: 1;
			transform: translateY(100px);
			opacity: 0;
			transition: 0.8s;

			&.small {
				padding-top: 50px;
				font-size: 14px;
				letter-spacing: 0em;
				transition-delay: 1s;
				overflow: hidden;

				span {
					display: block;

					&:nth-of-type(1) {
						transform: translateY(80px);
						opacity: 0;
						transition: 1.8s;
					}

					&:nth-of-type(2) {
						margin-top: 5px;
						transform: translateY(90px);
						opacity: 0;
						transition: 1.9s;
					}

					&.line {
						width: 0;
						height: 2px;
						margin-top: 10px;
						background-color: #222;
						transition: width 1.5s;
					}
				}
			}

			&.last {
				font-style: italic;
			}

			@for $i from 0 through 3 {
				&:not(.small):nth-of-type(#{$i + 1}) {
					transition-delay: $i * 0.1s;
				}
			}
		}
	}

	.pic {
		min-height: 530px;
		margin-bottom: 20px;
		transform: translateY(100px);
		opacity: 0;
		transition: 1.3s;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.txt_wrap {
		display: flex;
		justify-content: space-between;

		.txt {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 50%;
			padding-top: 10px;
			border-top: 1px solid #efefef;
		}
		.btn {
			display: inline-block;
			width: 140px;
			height: 40px;
			font: 14px/40px 'arial';
			background-color: #000;
			border-radius: 20px;
			text-align: center;
			color: #fff;
		}
	}
}

#visual.active {
	h1 {
		.title {
			transform: translateY(0px);
			opacity: 1;
			transition: 0.5s;

			&.small {
				span {
					&:nth-of-type(1) {
						transform: translateY(0px);
						opacity: 1;
					}

					&:nth-of-type(2) {
						transform: translateY(0px);
						opacity: 1;
					}

					&.line {
						width: 100%;
					}
				}
			}
		}
	}

	.pic {
		transform: translateY(0px);
		opacity: 1;
	}
}

@media screen and (max-width: 1300px) {
	#visual {
		padding-top: 100px;
		h1 {
			font-size: 10vw;
		}
	}
}

@media screen and (max-width: $tablet) {
	#visual {
		padding-top: 80px;

		h1 {
			gap: 10px;
			.title {
				&.small {
					padding-top: 20px;
				}
			}
		}

		.pic {
			min-height: auto;
		}
	}
}

@media screen and (max-width: $mobile) {
	#visual {
		.title_wrap {
			margin-bottom: 20px;
		}
		h1 {
			overflow: visible;
			font-size: 7vw;

			.title {
				flex: none;

				&.small {
					padding-top: 0;
					font-size: 12px;

					span {
						&:nth-of-type(2) {
							margin-top: 0;
						}
						&.line {
							height: 1px;
							margin-top: 5px;
						}
					}
				}
				&.last {
					font-style: italic;
				}
			}
		}

		.pic {
			height: 400px;
		}

		.txt_wrap {
			flex-wrap: wrap;

			.txt {
				width: 100%;
				margin-bottom: 30px;
			}

			.btn {
				display: block;
				width: 100%;
				height: 50px;
				font: 14px/50px 'arial';
				border-radius: 25px;
				margin: 0 auto;
			}
		}
	}
}
