.Department {
	section {
		&.first {
			margin-bottom: 80px;

			.cont_wrap {
				border-top: 2px solid #222;
			}

			.line {
				margin-top: 30px;
			}

			article {
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.cont_wrap {
			display: flex;
			justify-content: space-between;
			padding-top: 20px;
			flex-wrap: wrap;

			.left {
				width: 20%;
				p {
					font-size: 20px;
				}
			}

			.right {
				width: calc(80% - 100px);

				.box {
					&.line {
						.btn_view {
							display: inline-block;
							height: 40px;
							padding: 0 30px;
							margin-top: 50px;
							font: 14px/40px 'arial';
							background-color: #222;
							text-align: center;
							color: #fff;
							border-radius: 20px;
						}
					}

					h2 {
						margin-bottom: 30px;
					}
				}

				.cont_area {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;

					.item {
						width: calc(50% - 50px);
					}

					.txt {
						word-break: break-all;

						p {
							+ p {
								margin-top: 20px;
							}
						}
					}
				}
			}

			.line {
				padding-top: 20px;
				border-top: 2px solid #222;
			}
		}

		&.last {
			.left {
				p {
					font-size: 18px;

					span {
						display: block;
						font-weight: bold;
					}
				}
			}

			.right {
				.box + .box {
					margin-top: 100px;
				}

				.cont_area {
					flex-wrap: wrap;
					gap: 50px 5%;

					article {
						width: 30%;
						.pic {
							height: 250px;
							margin-bottom: 15px;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}

						.info {
							.name {
								margin-bottom: 5px;
								font-weight: bold;
							}

							.dept {
								display: inline-block;
								margin-top: 15px;
								color: #888;
							}
						}
					}
				}

				.list_area {
					ul {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						gap: 30px 5%;

						li {
							width: 45%;

							.title {
								padding-bottom: 5px;
								margin-bottom: 10px;
								font: bold 16px 'arial';
								border-bottom: 1px solid #000;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Department {
		section {
			&.first {
				article {
					height: 500px;
				}
			}

			.cont_wrap {
				.left {
					width: 100%;
					margin-bottom: 30px;

					p {
						font-size: 18px;

						span {
							display: inline-block;
						}
					}
				}

				.right {
					width: 100%;

					.cont_area {
						.item {
							width: calc(50% - 20px);
						}
					}
				}
			}

			&.last {
				.left {
					p {
						font-size: 18px;
					}
				}

				.right {
					.line {
						border-top: 0;
					}

					.box + .box {
						margin-top: 50px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Department {
		section {
			&.first {
				margin-bottom: 40px;

				article {
					height: 300px;
					margin-top: 40px;
				}

				.cont_area {
					gap: 0;
				}
			}

			.cont_wrap {
				.right {
					width: 100%;

					.box {
						&.line {
							.btn_view {
								margin: 20px 0;
							}
						}
					}

					.cont_area {
						.item {
							width: 100%;
						}

						.txt {
							p {
								+ p {
									margin-top: 10px;
								}
							}
						}
					}
				}
			}

			&.last {
				.right {
					.cont_area {
						flex-wrap: wrap;
						gap: 50px 0;

						article {
							width: 100%;
						}
					}

					.list_area {
						ul {
							gap: 30px 0;

							li {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
