.Gallery {
	.top_wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 20px;

		.search_box {
			margin-bottom: 10px;

			input[type='text'] {
				padding: 10px;
				margin-right: 5px;
				border: 1px solid #ddd;
			}
		}

		button {
			padding: 10px 20px;
			background-color: #dee3dd;
			border: 1px solid #6f746e;

			+ button {
				margin-left: 5px;
			}

			&.on {
				background-color: #000;
				color: #fff;
			}
		}
	}

	.frame {
		opacity: 0;
		transform: translateY(200px);
		transition: 0.5s;
		min-height: 500px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		article {
			width: 25%;
			padding: 10px;
			float: left;

			.item {
				width: 100%;
				background: #fff;
				padding: 14px;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);

				.pic {
					width: 100%;
					img {
						width: 100%;
					}
				}

				.profile {
					position: relative;
					display: flex;
					justify-content: center;
					flex-direction: column;
					width: 100%;
					padding: 50px 0 30px;
					text-align: center;

					img {
						position: absolute;
						left: 50%;
						top: 0;
						width: 60px;
						height: 60px;
						border-radius: 50%;
						border: 5px solid #fff;
						transform: translateX(-50%);
						margin-top: -25px;
						box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
					}

					p {
						font: bold 14px/1.2 'arial';
						margin-bottom: 10px;
					}
					span {
						cursor: pointer;
					}
				}
			}
		}
	}
	.frame.on {
		opacity: 1;
		transform: translateY(0px);
	}

	.loader {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media screen and (max-width: $tablet) {
	.Gallery {
		.frame {
			article {
				width: calc(100% / 2);
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Gallery {
		.top_wrap {
			flex-wrap: wrap;

			.btn_wrap {
				display: flex;
				justify-content: space-between;
				flex: none;
				width: 100%;
				margin-bottom: 20px;
				gap: 10px;

				button {
					width: 50%;
				}
			}

			.search_box {
				flex: none;
				width: 100%;

				input[type='text'] {
					width: calc(100% - 90px);
				}
			}
		}

		.frame {
			article {
				width: 100%;
			}
		}

		.loader {
			width: 50%;
		}
	}
}
